[submodule "0000_StdLibraries/StdLibraries/BOSL2"]
	path = 0000_StdLibraries/StdLibraries/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git

[submodule "downloads"]
	path = downloads
	url = https://github.com/miiiikeb/3dModelDownloads.git

